.setting-row {
	display: flex;
	gap: 0.5em;
	align-items: center;

	input:not([type="checkbox"]) {
		width: 70px;
	}

	select {
		max-width: 110px;
	}
}

.setting-section-heading {
	margin: 0;

	&:not(:first-child) {
		padding-top: 1em !important;
	}
}