body {
  color: var(--txt-color);
  background: var(--bg-color);
  margin: 0;
  font-family: sans-serif;
  flex-direction: column;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
button,
select,
input {
  background: var(--button-color);
  color: var(--txt-color);
  border: 1px solid var(--border-color);
}
button:hover {
  background: var(--button-hover-color);
}
.icon {
  width: 10px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 0;
}
body,
#content,
#viewer,
#preview-container {
  position: relative;
  display: flex;
}
#content,
#viewer,
#preview,
#preview-container {
  flex: 1;
}
#editor,
#viewer,
#preview-container,
#devtools {
  min-width: 5%;
}
#viewer,
#preview-container {
  width: 100%;
  height: 100%;
}
#editor-resizer,
#devtools-resizer {
  z-index: 2;
}
.drag-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
body:not(.editing) #editor,
body:not(.editing) #editor-resizer {
  display: none;
}
body.editing:not(.hoz) #editor {
  width: 50%;
  height: 100% !important;
  margin-right: -2px;
  border-right: 1px solid var(--border-color);
}
body.editing:not(.hoz) #viewer {
  margin-left: -2px;
}
body.editing:not(.hoz) #editor-resizer {
  cursor: ew-resize;
  width: 4px;
  height: 100%;
}
body.editing.hoz #content {
  flex-direction: column;
}
body.editing.hoz #editor {
  width: 100% !important;
  height: 50%;
  margin-bottom: -2px;
  border-bottom: 1px solid var(--border-color);
}
body.editing.hoz #viewer {
  margin-top: -2px;
}
body.editing.hoz #editor-resizer {
  cursor: ns-resize;
  width: 100%;
  height: 4px;
}
body:not(.devtools) #devtools,
body:not(.devtools) #devtools-resizer {
  display: none;
}
body.devtools #preview-container {
  width: 50%;
  margin-right: -2px;
  border-right: 1px solid var(--border-color);
}
body.devtools #devtools {
  margin-left: -2px;
}
body.devtools #devtools-resizer {
  cursor: ew-resize;
  width: 4px;
  height: 100%;
}
#top {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  background: var(--top-color);
}
#chrome {
  flex: 1;
  display: flex;
  overflow: hidden;
}
#chrome > * {
  -webkit-app-region: no-drag;
}
.os-drag {
  width: 1em;
  height: 100%;
}
.top-button {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: 5px;
  flex-shrink: 0;
  cursor: pointer;
}
.top-button:hover {
  background: var(--button-color);
}
.top-button > svg {
  width: 20px;
  height: 20px;
}
.window-button {
  height: 30px;
  display: flex;
  padding: 0 10px;
  user-select: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  transition: color 0.25s, background 0.25s;
}
#exit:hover {
  background-color: var(--close-color);
  color: #fff;
}
#min:hover,
#max:hover {
  background-color: var(--button-color);
}
.dark #min:hover,
.dark #max:hover {
  color: #fff;
}
.editing #edit,
.devtools #inspect {
  background: var(--bg-color);
}
#tabs {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
#tabs:empty {
  display: none;
}
#tabs > * {
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
  margin-left: 5px;
  user-select: none;
}
#tabs > *.unsaved .indicator {
  display: none;
}
#tabs > *:not(.unsaved) .indicator {
  padding-right: 5px;
}
#tabs > * .title {
  overflow: hidden;
}
#tabs > * .close {
  padding-left: 5px;
}
#tabs > *.active {
  background: var(--bg-color);
}
#tabs > *:hover {
  background: var(--button-color);
}
.menu-items > * {
  display: block;
  padding: 3px 5px;
  cursor: pointer;
}
.menu-items > *:hover {
  background: var(--button-color);
}
.menu {
  position: absolute;
  display: none;
  z-index: 5;
  min-width: 5.75em;
}
.menu-parent:hover .menu,
.menu:hover {
  display: block;
}
.menu-items {
  position: relative;
  right: 5px;
  top: 1px;
  background: var(--top-color);
}
.setting-row {
  display: block;
  padding: 0.25em 0;
}
.setting-row select {
  margin-left: 0.5em;
}
.setting-row input:not([type="checkbox"]) {
  margin-left: 0.5em;
  width: 70px;
}
.popup-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
}
.popup {
  background: var(--top-color);
  padding: 1em;
  margin: 1em;
  max-height: calc(100% - 4em);
  max-width: calc(100% - 4em);
  overflow: auto;
  border: 1px solid var(--border-color);
}
.popup button {
  padding: 0.5em 1em;
  margin-left: 1em;
  cursor: pointer;
}
.popup > :not(:first-child) {
  padding-top: 1em;
}
.mini-popup {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 0 1px 1px;
  padding: 4px;
  margin: 0;
  max-width: calc(100% - 16px);
}
.mini-popup > * {
  display: inline-block;
  padding-top: 0 !important;
}
.mini-popup button {
  border: 0;
  background: none;
  margin-left: 4px;
  padding: 4px;
}
.mini-popup button:hover {
  background: var(--button-hover-color);
}
.ace_search {
  background-color: var(--top-color);
  border-color: var(--border-color);
}
.ace_search_field,
.ace_searchbutton {
  background-color: var(--button-color);
  border-color: var(--border-color) !important;
}
.ace_search,
.ace_search * {
  color: var(--txt-color);
  border-radius: 0 !important;
}
.dark .ace_searchbutton_close {
  filter: brightness(1.75);
}
.ace_searchbutton:hover,
.ace_search .ace_button:hover,
.ace_searchbutton_close:hover {
  background-color: var(--button-hover-color);
}
html {
  --bg-color: #fff;
  --top-color: #ccc;
  --border-color: #d0d0d0;
  --txt-color: #444;
  --scroll-color: #d0d0d0;
  --close-color: #E81123;
  --button-color: #bbb;
  --button-hover-color: #a8a8a8;
}
html.dark {
  --bg-color: #222;
  --top-color: #444;
  --border-color: #525252;
  --txt-color: #ccc;
  --scroll-color: #525252;
  --close-color: #c40c0c;
  --button-color: #333;
  --button-hover-color: #383838;
}
